<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DcTransferFtpNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <DcTransferFtpNew.Properties.Settings>
      <setting name="DcTransferFtpNew_localhost_TTFLOGService" serializeAs="String">
        <value>http://localhost:52242/Service.asmx</value>
      </setting>
      <setting name="DcTransferFtpNew_GetDataAntarDC_Service" serializeAs="String">
        <value>http://localhost:62204/Service.asmx</value>
      </setting>
      <setting name="DcTransferFtpNew_DSI_WS_DSI_WS" serializeAs="String">
        <value>http://192.168.24.125:1717/DSI_WS.asmx</value>
      </setting>
      <setting name="DcTransferFtpNew_GetAnalisaDSIHO_Service" serializeAs="String">
        <value>http://172.24.16.171/GetAnalisaDSIHO/Service.asmx</value>
      </setting>
    </DcTransferFtpNew.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="setting_debug" value="" />
    <add key="max_old_retention_day" value="14" />
    <add key="updater_ftp_ip_domain" value="127.0.0.1" />
    <add key="updater_ftp_port" value="21" />
    <add key="updater_ftp_username" value="admin@localhost" />
    <add key="updater_ftp_password" value="root" />
    <add key="smtp_server_ip_domain" value="127.0.0.1" />
    <add key="smtp_server_port" value="25" />
    <add key="smtp_server_username" value="admin@localhost" />
    <add key="smtp_server_password" value="root" />
    <add key="ws_syncho" value="http://127.0.0.1" />
    <add key="bypass_login" value="false" />
    <add key="bypass_ip_mac" value="true" />
    <add key="minimize_on_close" value="false" />
    <add key="auto_run_mode" value="true" />
    <add key="ws_ttf_ho" value="http://127.0.0.1" />
    <add key="ws_dsi" value="http://127.0.0.1" />
    <add key="ws_dsi_ho" value="http://127.0.0.1" />
    <add key="ws_ho" value="http://127.0.0.1" />
    <add key="ws_list_antar_dc" value="http://127.0.0.1" />
  </appSettings>
</configuration>